@import "../fonts.css";

.root {
    -fx-background-color: linear-gradient(to bottom right, #9d7cd8, #394b70);
}

.box {
    -fx-alignment: center;
    -fx-spacing: 0.5em;
}

.image-view {
    -fx-fit-width: 10em;
    -fx-fit-height: 10em;
    -fx-pref-width: 10em;
    -fx-pref-height: 10em;
}

.label {
    -fx-font-size: 2em;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-family: "quicksand";
}